.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
portfolio_manager_agent
portfolio_manager_service

packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/*
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*

!packages/aytunc/agents/portfolio_manager_agent
!packages/aytunc/services/portfolio_manager_service
!packages/aytunc/skills/portfolio_manager_abci
!packages/aytunc/skills/portfolio_manager_chained_abci
!packages/valory/contracts/erc20
!packages/valory/contracts/portfolio_manager

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env
